{% extends "base.html" %}

{% block content %}
<h1>Register to Get It Done!</h1>
<form action="/register" method="post">
    <div>
        <p class="error">{{email_error}}</p>
        <label for="email">Email
            <input name="email" type="email" value="{{ email }}">
        </label>
    </div>
    <div>
        <p class="error">{{password_error}}</p>
        <label for="password">Password
            <input name="password" type="password">
        </label>
    </div>
    <div>
        <p class="error">{{verify_error}}</p>
        <label for="verify">Verify Password
            <input name="verify" type="password">
        </label>
    </div>
    <input type="submit" value="Register">
</form>
{% endblock %}